
body{
  background-image: url("../../resources/img/beer.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

button {
  margin-bottom: 10px;
}

.panel{
  height:400px;
}
.beers{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 9px;
}
.add-form{
  padding: 8px;
}
